<ion-view view-title="{{channel.title}}">
  <ion-content class="padding">
    <loading ng-hide="loaded"></loading>
    <div class="list card" ng-show="loaded">

      <div class="item" ng-show="tvGuideIsOn()">
        <h3 align="center">{{currentShow.title}}</h3>
      </div>

      <div class="item item-body">
        <img class="full-image" ng-src="{{capture}}">
        <button class="button button-block button-positive" ng-href="{{channel.link}}">{{'PLAY' | translate}}</button>
        <div ng-show="tvGuideIsOn()">
          <div>
            {{currentShow.start_time}}
            <progress id="progressbar" max="{{ currentShowEndTime }}" value="{{ progressval }}"></progress>
            {{currentShow.end_time}}
          </div>
          <p ng-show="currentShow.highlight">{{currentShow.highlight}}</p>
          <p ng-show="currentShow.short_description">{{currentShow.short_description}}</p>
          <p ng-show="currentShow.episode_title">{{currentShow.episode_title}}</p>
          <p ng-show="currentShow.description">{{currentShow.description}}</p>
          <p ng-show="currentShow.italics">{{currentShow.italics}}</p>
          <ol display="inline">
            <li ng-repeat="attr in currentShow.attributes">
              <img ng-src="{{attr.attribute_pictogram}}"/>
            </li>
          </ol>
          <p ng-show="currentShow.restriction.age_limit"><img width="20px" ng-src="{{getAge(currentShow.restriction.age_limit)}}" /></p>
          <p ng-show="currentShow.film_url">
            <a ng-href="{{currentShow.film_url}}" class="subdued ion-ios-information-outline"> {{'INFO' | translate}}</a>
          </p>
          <button class="button button-block button-positive" ng-click="nextShowsPanelToggle()">
            {{'NEXT_SHOWS' | translate}}
          </button>
          <ul class="list item-remove-animate" ng-show="nextShowsPanel">
            <li class="item" ng-repeat="next in nextShows">
              <h3>{{next.title}}</h3>
              <p>{{next.start_time}}
                -
                {{next.end_time}}</p>
              <div>
                <p ng-show="next.highlight">{{next.highlight}}</p>
                <p ng-show="next.short_description">{{next.short_description}}</p>
                <p ng-show="next.episode_title">{{next.episode_title}}</p>
                <p ng-show="next.description">{{next.description}}</p>
                <p>
                  <a ng-show="next.film_url" ng-href="{{next.film_url}}" class="subdued ion-ios-information-outline"> {{'INFO' | translate}}</a> <img width="15px" ng-src="{{getAge(next.restriction.age_limit)}}" />
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>
