<ion-side-menus enable-menu-with-back-views="true">

  <ion-side-menu-content ng-controller="ChannelsCtrl">
    <ion-header-bar align-title="center" ng-class="getTheme('bar')">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      <h1 class="title">{{'CHANNELS' | translate}}</h1>
    </ion-header-bar>
    <notvguide ng-hide="tvGuideIsOn()"></notvguide>
    <ion-content ng-show="tvGuideIsOn()">
      <ion-refresher pulling-text="{{'REFRESH' | translate}}" on-refresh="doRefresh()"></ion-refresher>
      <loading ng-hide="loaded"></loading>
      <ion-list ng-show="loaded">
        <ion-list>
          <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="channel in channels" type="item-text-wrap" ng-click="openModal(channel.id)">
            <img ng-src="{{getLogo(tvGuides.channels[channel.id].logo)}}">
            <h2>{{channel.title}}</h2>
            <p>
              {{getCurrentShow(tvGuides.channels[channel.id].programs).title}}
              <img width="15px" ng-src="{{getAge(getCurrentShow(tvGuides.channels[channel.id].programs).restriction.age_limit)}}"/>
            </p>
            <i class="icon ion-chevron-right icon-accessory"></i>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-side-menu-content>

    <ion-side-menu side="left">
      <header ng-controller="ChannelsCtrl" class="bar bar-header" ng-class="getTheme('bar')">
        <h1 class="title">{{'SETTINGS' | translate}}</h1>
      </header>
      <ion-content class="has-header" ng-controller="SettingsCtrl">
        <settings></settings>
      </ion-content>
    </ion-side-menu>
  </ion-side-menus>
