<ion-view cache-view="false" view-title="{{'CHANNELS' | translate}}">
  <ion-content ng-show="tvGuideIsOn()">
    <ion-refresher pulling-text="{{'REFRESH' | translate}}" on-refresh="doRefresh()"></ion-refresher>
    <loading ng-hide="loaded"></loading>
    <ion-list ng-show="loaded">
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="channel in channels" type="item-text-wrap" ng-click="openModal(channel.id)">
        <img ng-src="{{getLogo(tvGuides.channels[channel.id].logo)}}">
        <h2>{{channel.title}}</h2>
        <p>
          {{getCurrentShow(tvGuides.channels[channel.id].programs).title}}
          <img width="15px" ng-src="{{getAge(getCurrentShow(tvGuides.channels[channel.id].programs).restriction.age_limit)}}"/>
        </p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
  <notvguide ng-hide="tvGuideIsOn()"></notvguide>
</ion-view>
