<ion-view view-title="{{'SETTINGS' | translate}}">
  <ion-content>
    <div class="item" ng-click="showLanguagePanel()">
      <label>{{'LANGUAGE' | translate}}</label>
      <span align="right">{{currentLanguage() | translate}}</span>
    </div>
    <div ng-show="languagePanel">
      <ion-radio ng-model="language" ng-value="'hu'" ng-click="changeLanguage('hu')">{{'LANG_HU' | translate}}</ion-radio>
      <ion-radio ng-model="language" ng-value="'en'" ng-click="changeLanguage('en')">{{'LANG_EN' | translate}}</ion-radio>
    </div>
    <div class="item item-toggle">
      <label>{{'TVGUIDE' | translate}}</label>
      <label class="toggle toggle-positive">
        <input type="checkbox" ng-model="tvGuide" ng-change="save(1, tvGuide)">
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>
    </div>
    <div ng-show="tvGuide">
      <div class="item range range-positive">
        <label>{{'NEXTLIMIT' | translate}}</label>
        <input type="range" ng-disabled="!tvGuide" ng-model="nextLimit" ng-change="save(2, nextLimit)" name="volume" min="1" max="10" value="{{nextLimit}}">{{nextLimit}}
      </div>
      <div class="item range range-positive">
        <label>{{'TIMEOUT' | translate}}</label>
        <input type="range" ng-disabled="!tvGuide" ng-model="timeoutLimit" ng-change="save(3, timeoutLimit)" name="volume" min="1000" max="10000" step="1000" value="{{timeoutLimit}}">{{timeoutLimit}}
      </div>
      <div class="item item-toggle">
        <label>{{'SAFEMODE' | translate}}</label>
        <label class="toggle toggle-positive">
          <input type="checkbox" ng-disabled="!tvGuide" ng-model="safeMode" ng-change="save(4, safeMode)">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
    </div>
  </ion-content>
</ion-view>
